<h2>Your photo "<%= @photo.title %>" was reviewed by <%= @reviewer.username %></h2>

<p>Hello, <%= @photographer.username %>! </p>

<p>Here's what <%= @reviewer.username %> had to say about your photo:</p>

<p>Rating on a scale of Bad to Good:
  <% if @rating.rating == 1 %>
    <strong>Bad</strong>
  <% elsif @rating.rating == 2 %>
    <strong>Meh</strong>
  <% elsif @rating.rating == 3%>
    <strong>Good</strong>
  <% end %>
</p>
<p>Comment: <em><%= @rating.comment %></em></p>
