<% if @current_user %>
  <% if @current_user.id == @user.id %>
    <%= render "layouts/account_details" %>
  <% end %>
<% end %>

<div id="user-avatar-title">
  <%= image_tag @user.avatar, :class=>"avatar avatar-img-show" %>
  <h2><span class="username"><%= @user.username.capitalize %></span>'s  Images</h2>
</div>

<div class="row">
  <% @user.photos.sort.in_groups_of(2, false).each do |group| %>
      <% group.each do |p| %>
        <div class="col-xs-6 col-sm-6 col-lg-3 preview-photo-block">
          <%= link_to image_tag(p.image_file.index, :class => "photo-preview-version"), photo_path(p.id) %><br>
          <span class="photo-upload">uploaded on: <%= p.created_at.strftime("%m/%d/%Y") %></span>
        </div>
      <% end %>
  <% end %>
</div>
