<div class="row">
  <div class="col-sm-12 add-photo-form">
      <%= form_for @photo, url: add_photo_path do |f| %>
      <div class="form-group">
        <%= f.label      :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label      :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="form-group">
        <%= f.label      :image_file %><br>
        <%= f.file_field :image_file %>
      </div>
      <div>
        <%= f.submit id: :submit_new_photo%>
      </div>
    <% end %>
  </div>
</div>

<div class="errors-container">
  <% if @photo %>
    <% if @photo.errors.any? %>
      <% @photo.errors.each do |column, message| %>
        <ul>
          <li>
            <strong><%= column.capitalize %>:</strong> <%= message %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
