<div class="row">
  <div class="photo-container col-lg-12">
    <div class="photo-image-container col-lg-9">
      <%= image_tag @photo.image_file.detail %>
      <span id="photo-title"><%= @photo.title %></span>
      <span id="photo-description"><%= @photo.description %></span>
    </div>

    <div class="photo-details-container col-lg-3">
      <p>
        Photo by:
        <% if @photo.user %>
          <%= @photo.user.username %>
        <% else %>
          anonymous
        <% end %>
      </p>
      <p> Gravatar image placeholder            </p>
      ------
      <p> Ratings summary placeholder           </p>
      <p> comments placeholder                  </p>
    </div>
  </div>
</div>

<% if @current_user %>
  <% if @photo.user_id == @current_user.id %>
    <%= render "layouts/edit_photo_form" %>
  <% end %>
<% end %>
