<h1>DETAIL: <%= @photo.title %></h1>

<%= image_tag @photo.image_file.preview %>

<div id="photo-container">
  <%= form_for @photo do |f| %>
    <div class="field">
      <%= f.label      :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label      :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label      :image_file %><br>
      <%= f.file_field :image_file %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  ------
  <p>
    Photo by:
    <% if @photo.user %>
      <%= @photo.user.username %>
    <% else %>
      anonymous
    <% end %>
  </p>
  <p> Gravatar image placeholder            </p>
  ------
  <p> Ratings summary placeholder           </p>
  <p> comments placeholder                  </p>
</div>

<div class="row">
  <div class="col-sm-3 delete-photo">
    <h3>Delete photo: </h3>
    <form action="/photos/<%=@photo.id%>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-md btn-danger" value="Delete" data-confirm:"Are you sure?">
    </form>
  </div>
</div>
