<div class="row">
  <div class="photo-container col-lg-12">
    <div class="photo-image-container col-lg-9">
      <div class="photo-detail-version">
        <%= image_tag @photo.image_file.detail %>
      </div>
      <p id="photo-title"><%= @photo.title %></p>
      <p id="photo-description"><%= @photo.description %></p>
    </div>

    <div class="photo-details-container col-lg-3">
      <div class="details-top">
        <span class="gravatar-img">  </span>
        <span>By
          <% if @photo.user %>
            <span id="detail-username"><%= link_to @photo.user.username, user_path(@photo.user.id) %></span>
          <% else %>
            anonymous
          <% end %>
          <br>
        </span>
      </div>
      <div class="details-ratings-summary">
        <%= render "layouts/ratings_summary" %>
      </div>
      <div class="details-rating-form">
        <% if @current_user %>
          <% if @photo.user_id != @current_user.id %>
            <%= render "layouts/rating_form" %>
          <% else  %>
            <h5>Sorry, you can't rate your own photos.</h5>
          <% end  %>
        <% end  %>
      </div>
      <div class="details-comment-list">
        <div class="comment-list">
          <h3>Comments</h3>
          <% if @photo.ratings.count > 0 == true %>
            <% @photo.ratings.each do |r| %>
              <% if r.comment != "" %>
                <p><strong><%= link_to r.username, user_path(r.user.id) %></strong>: <%= r.comment %></p>
              <% end %>
            <% end %>
          <% else %>
            <h4>Nobody has commented on this photo yet!</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @current_user %>
  <% if @photo.user_id == @current_user.id %>
    <%= render "layouts/edit_photo_form" %>
  <% end %>
<% end %>
