<div class="row">
  <div class="photo-container col-lg-12">
    <div class="photo-image-container col-lg-9">
      <div class="photo-detail-version">
        <%= image_tag @photo.image_file.detail %>
      </div>
      <p id="photo-title"><%= @photo.title %></p>
      <p id="photo-description"><%= @photo.description %></p>
    </div>

    <div class="photo-details-container col-lg-3">
      <div class="details-top">
        <span class="gravatar-img">  </span>
        <span>By
          <% if @photo.user %>
            <span id="detail-username"><%= link_to @photo.user.username, user_path(@photo.user.id) %></span>
          <% else %>
            anonymous
          <% end %>
          <br>
        </span>
      </div>
      <div class="details-ratings">
        <p> Ratings summary placeholder           </p>
      </div>
      <div class="details-comments">
        <p> comments placeholder                  </p>
      </div>
    </div>
  </div>
</div>

<% if @current_user %>
  <% if @photo.user_id == @current_user.id %>
    <%= render "layouts/edit_photo_form" %>
  <% end %>
<% end %>
