<div class="row">
  <div class="col-sm-12 user-account-container">
    <h2>Account details for: <strong><%= @current_user.username %></strong></h2>
    <div class="user-account-details col-lg-12">
        <div class="col-lg-6">
          <strong>Avatar:</strong> <%= image_tag @current_user.avatar, :class=>"avatar avatar-img-show"%>
        </div>
        <div class="col-lg-6">
          <strong>Member since:</strong> <%= @current_user.created_at%>
        </div>
    </div>
    <div class="user-email-settings col-lg-12">
        <div class="col-lg-12">
          <strong>e-mail settings:</strong>
        </div>
        <%= form_tag update_user_path(@user.id) do %>
          <div class="col-lg-6">
            <div class="form-group update-email-address-form col-lg-8">
              <input type="email", name="email", placeholder="<%= @current_user.email%>", class="form-control col-lg-4">
              <input type="submit", value="update e-mail", class="btn btn-md btn-success">
            </div>
          </div>
        <% end %>
      <%= form_tag update_user_path(@user.id) do %>
          <div class="form-group update-email-settings-form col-lg-6">
            <p id="email-update-info">Receive emails when users comment on your photos?</p>
            <%= radio_button_tag(:receive, true, :checked => @user.accept_rating_email == true) %>
            <%= label_tag(:receive_yes, "Yes")  %>
            <%= radio_button_tag(:receive, false, :checked => @user.accept_rating_email == false) %>
            <%= label_tag(:receive_no, "No")      %>

            <%= submit_tag "submit", class: "btn btn-md btn-success"%>
          </div>
        <% end %>
    </div>
  </div>
</div>
