<div class="row">
  <div class="col-sm-12">
    <h2>Account details for: <strong><%= @current_user.username %></strong></h2>
    <ul class="user-account-details">
      <li>
        <strong>username:</strong> <%= @current_user.username %>
      </li>
      <li>
        <strong>avatar:</strong> <%= image_tag @current_user.avatar, :class=>"avatar"%>
      </li>
      <li>
        <strong>e-mail address:</strong> <%= @current_user.email %>
        <!-- <button class="btn btn-sm btn-info">Update</button> -->
      </li>
    <li><strong>e-mail settings:</strong></li>
      <ul class="user-email-settings">
      <%= form_tag update_user_path do %>
        <div class="form-group update-email-form col-lg-6">
          <input type="email", name="email", placeholder="<%= @current_user.email%>", class="form-control">
        </div>
        <input type="submit", value="update e-mail", class="btn btn-md btn-primary">
      <% end %>
      </ul>
    </ul>
  </div>
</div>
