<nav class="navbar navbar-default navbar-static-top">
  <!-- flash notice logic goes here, or possibly in its own partial -->
  <!-- <div class="container-fluid"> -->
  <div class="container">
    <div class="navbar-header">
      <a><%= link_to "PhotoSquid", root_path, class:"navbar-brand" %></a  >

      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Rankings", ranked_path %></li>
        <% if random_photo %>
          <li><%= link_to "Random", photo_path(random_photo) %></li>
        <% else %>
          <li><a id="ratings-closed">No photos left to rate!</a></li>
        <% end %>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <ul class="logged-in-user">
            <li><a id="greeting">Hello, <span class="username"><%= @current_user.username%></span></a></li>
            <li><%= image_tag @current_user.avatar, :class=>"avatar avatar-header" %></li>
            <li><%= link_to "My Account"    , user_path(@current_user.id)%> </li>
            <li><%= link_to "Sign Out"      , sign_out_path%>            </li>
          </ul>
        <% else %>
          <%= render "layouts/sign_in_form" %>
          <!-- <button class="btn btn-success btn-md", id="create-acct-btn"><%= link_to "Sign Up", sign_up_path %> </button> -->
        <% end %>
      </div>
    </div>
  </div>
</nav>
