<%= form_tag("/photos/#{@photo.id}/rate", method:"post" ) do %>
  <%= radio_button_tag(:rating, "bad") %>
  <%= label_tag(:rating_bad, "Bad") %>
  <%= radio_button_tag(:rating, "meh") %>
  <%= label_tag(:rating_bad, "Meh") %>
  <%= radio_button_tag(:rating, "good") %>
  <%= label_tag(:rating_bad, "Good  ") %>

  <%= text_area_tag :comment, nil, :placeholder=>"comment (optional)" %>

  <%= submit_tag("submit") %>

  <% if @rating %>
    <% if @rating.errors.any? %>
      <% @rating.errors.each do |column, message| %>
        <ul>
          <li>
            <strong><%= column.capitalize %>:</strong> <%= message %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>
