<form action="/photos/<%= @photo.id%>/rate" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-danger">
      <input type="radio" name="rating" id="rating_bad" value="bad"> Bad (<%= @photo.bad_ratings_count %>)
    </label>
    <label class="btn btn-warning">
      <input type="radio" name="rating" id="rating_meh" value="meh"> Meh (<%= @photo.meh_ratings_count %>)
    </label>
    <label class="btn btn-success">
      <input type="radio" name="rating" id="rating_good" value="good"> Good (<%= @photo.good_ratings_count %>)
    </label>
  </div>
  <textarea name="comment"id="review-comment-field" placeholder="comment(optional)"></textarea>
  <button name="button" type="submit" class="btn btn-primary submit-review-btn">Submit</button>
</form>

<% if @rating %>
  <% if @rating.errors.any? %>
    <% @rating.errors.each do |column, message| %>
      <ul>
        <li>
          <strong><%= column.capitalize %>:</strong> <%= message %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
