<!DOCTYPE html>
<html>
<head>
  <title>ImageRater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <span>BEGIN HEADER PLACEHOLDER</span>
  <ul id="header-placeholder">
    <li><%= link_to "Random"        , rate_photo_path %>            </li>
    <li><%= link_to "Create Account", sign_up_path %>               </li>
    <li><%= link_to "My Account"    , show_user_path(:user_id)%>    </li>
  </ul>
  <span>END HEADER PLACEHOLDER</span>

<div class="container page-content">
  <%= yield %>
</div>

</body>
</html>
